h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 4rem;
}

h2 {
  font-family: "Nova Round", cursive;
  font-size: 3rem;
}

h3 {
  font-family: "Nova Round", cursive;
  font-size: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
